.maxWidth {
  width: 90%;
  max-width: 1200px;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/Background.png');
  background-size: cover;

  .wrapper-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 30;
    background-color: rgba(255, 255, 255, 0.85);

    .contacts {
      position: relative;
      width: 65%;
      height: 100vh;
      overflow-y: auto;

      .contacts-content-header {
        height: 15vh;
        display: flex;
        justify-content: center;

        .logo {
          background-image: url('../../assets/images/Logo.png');
          background-repeat: no-repeat;
          background-size: contain;
          width: 350px;
          height: 120px;
        }
      }

      .contacts-content-table {
        display: flex;
        justify-content: center;
        max-height: 85vh;
      }

      .contacts-msg {
        position: absolute;
        display: flex;
        bottom: 0px;
        right: 0px;
        color: white;
        background-color: var(--user-color);
        padding: 20px;
        font-size: 1.6rem;
      }
    }

    .container-photo {
      position: relative;
      width: 35%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-image: var(--image);
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);

      .photo {
        position: relative;
        width: 88%;
        height: 88%;
        // background-image: var(--image);
        background-repeat: no-repeat;
        background-size: cover;
      }

      #btn {
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0.9;
        z-index: 50;
      }

      #restore-btn {
        position: absolute;
        top: 10px;
        left: 200px;
        opacity: 0.9;
        z-index: 50;
      }

      .background-color {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: var(--user-color);
        opacity: 0.2;
        z-index: 30;
      }

      .photo::after {
        content: '';
        position: absolute;
        background-color: rgba(255, 255, 255, 0.4);
        left: 4%;
        top: 25px;
        width: 85%;
        height: 90%;
        border: solid 15px;
        border-color: white;
        opacity: 0.3;
      }
    }

    .container-photo::before {
      content: '';
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: var(--user-color);
      opacity: 0.2;
    }
  }

  .smallDevicesHeader {
    display: none;
    z-index: 40;
  }
  .smallDevicesContent {
    display: none;

    .contacts-msg-small {
      display: none;
    }
  }
}

.navTableStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 10px;

  h1 {
    color: var(--user-color);
  }

  div {
    display: flex;
    gap: 5px;
  }
}

// Change Theme Logo and Background
.defaultTheme {
  background-image: url('../../assets/images/Logo.png') !important;
}
.defaultThemeBackground {
  background-image: url('../../assets/images/Background.png');
}

.redTheme {
  background-image: url('../../assets/images/Logo2.png') !important;
}

.redThemeBackground {
  background-image: url('../../assets/images/Background2.png');
}

.greenTheme {
  background-image: url('../../assets/images/Logo3.png') !important;
}

.greenThemeBackground {
  background-image: url('../../assets/images/Background3.png');
}

.pinkTheme {
  background-image: url('../../assets/images/Logo4.png') !important;
}

.pinkThemeBackground {
  background-image: url('../../assets/images/Background4.png');
}

@media (max-width: 1366px) {
  section {
    background-image: none !important;

    .wrapper-content {
      .container-photo {
        position: absolute;
        top: 60px;
        width: 100%;
        height: calc(35vh - 30px);
        z-index: -4;
        background-position-y: 20%;

        .photo {
          background-position-y: 35%;
        }

        #btn {
          left: 5px;
          top: calc(35vh - 75px);
          transform: scale(0.9);
        }

        #restore-btn {
          top: calc(35vh - 75px);
          left: 180px;
          transform: scale(0.9);
        }

        .photo::after {
          content: '';
          // right: 0%;
          top: 0px;
          left: 1px;
          width: calc(100% - 29px);
        }
      }

      .contacts {
        display: none;
      }
    }

    //Small Devices
    .smallDevicesHeader {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      z-index: 2;
      background-color: var(--user-color);
      color: white;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);

      .logo {
        margin-left: 0px;
        width: 30%;
        height: 100%;
        background-image: url('../../assets/images/Logo_branco.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 50%;
      }
    }

    .smallDevicesContent {
      display: block !important;
      width: 100%;
      margin-top: calc(35vh + 30px);
      position: relative;

      .contacts-msg-small {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        color: white;
        background-color: var(--user-color);
        padding: 10px 10px;
        font-size: 1rem;
      }
    }

    .backgroundSmallDevices {
      position: absolute;
      display: flex;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: var(--background-small-devices);
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -23;
      opacity: 0.15;
    }
  }
}

@media (max-width: 800px) {
  .navTableStyle {
    display: block;

    h1 {
      margin-bottom: 40px;
    }

    div {
      display: flex;
      justify-content: center;
      gap: 5px;
      // width: 100%;
    }
  }

  .wrapper-content {
    .container-photo {
      box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3) !important;
      height: calc(35vh - 0px) !important;
    }
  }

  .smallDevicesContent {
    margin-top: calc(35vh + 30px) !important;

    .contacts-msg-small {
      top: 30px !important;
      font-size: 0.85rem !important;
    }
  }

  .backgroundSmallDevices {
    opacity: 0 !important;
  }
}
