.containerNotFound {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: url('../../assets/images/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
  }

  h1,
  h2 {
    color: var(--user-color);
  }

  h1,
  h2 {
    margin-bottom: 40px;
  }
}

.defaultThemeBackground {
  background-image: url('../../assets/images/Background.png') !important;
}

.redThemeBackground {
  background-image: url('../../assets/images/Background2.png') !important;
}

.greenThemeBackground {
  background-image: url('../../assets/images/Background3.png') !important;
}

.pinkThemeBackground {
  background-image: url('../../assets/images/Background4.png') !important;
}
