:root {
  --primary-color: rgba(51, 41, 161, 1);
  --text-color: rgba(65, 65, 65, 1);
  --login-height: 100vh;
  --image: url('./assets/images/Networking1.jpg');
  --user-color: rgba(51, 41, 161, 1);
  --background-small-devices: url('./assets/images/Background.png');
}

@font-face {
  font-family: 'montserrat-medium';
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('./assets/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: 'quicksand';
  src: url('./assets/fonts/Quicksand-Medium.ttf');
}

body,
h1,
h2,
h3 {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  // background-image: url('./assets/images/Background.png');
  // background-position-y: 50px;
}

body,
input {
  color: var(--text-color);
  font-size: 1.2rem;
  font-family: 'quicksand', Arial, Helvetica, sans-serif;
}

.input-check {
  position: relative;

  input[type='checkbox'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    height: 20px;
    width: 20px;
  }

  input[type='checkbox']::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    left: 26%;
    top: 3px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid rgb(150 150 150 / 60%);
  }

  input[type='checkbox']:checked::before {
    content: '';
    display: block;
    position: absolute;
    text-align: center;
    height: 20px;
    width: 20px;
    left: 26%;
    top: 3px;
    background-color: var(--primary-color);
    border-radius: 2px;
    border: 1px solid rgb(150 150 150 / 30%);
  }

  input[type='checkbox']:checked::after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
    display: block;
    position: absolute;
    left: 35%;
    top: 2px;
  }
}

h1,
h2,
h3 {
  font-family: 'montserrat-bold', Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
  transition: all 500ms;
  color: var(--text-color);
}

a:hover {
  color: var(--primary-color);
}

a:active {
  transform: translateY(4px);
}

.__addBackground {
  background-image: url('./assets/images/Background.png');
}

.__alignRight {
  text-align: end;
}

.__verticalTop {
  margin-top: 30px;
}

// Alinhamentos
.__flex-verticalCenter {
  display: flex;
  align-items: center;
}

.__flex-horizontalCenter {
  justify-content: center;
}

.__flex-spaceBetween {
  display: flex;
  justify-content: space-between;
}

.__dialogOverflow {
  padding: 0 20px;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.__error {
  text-align: center;
  color: red;
  font-size: 1rem;
}

//ScrollBar
::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--user-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: all 500ms;
}

// Efeitos
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Transição rota login/cadastrar/recuperar senha

.v-enter-active {
  transition: opacity 0.25s ease-in;
}

.v-leave-active {
  transition: opacity 0.25s ease-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

// Responsividade do input[checkbox]
@media (max-width: 800px) {
  input[type='checkbox']::before {
    content: '';
    left: 0 !important;
  }

  input[type='checkbox']:checked::before {
    left: 0 !important;
  }

  input[type='checkbox']:checked::after {
    left: 3px !important;
  }
}
