:root {
  --primary-color: rgba(51, 41, 161, 1);
  --text-color: rgba(65, 65, 65, 1);
}

@font-face {
  font-family: 'montserrat-medium';
  src: url('../src/assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('../src/assets/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: 'quicksand';
  src: url('../src/assets/fonts/Quicksand-Medium.ttf');
}

body,
h1,
h2,
h3,
p {
  padding: 0px;
  margin: 0px;
}

body {
  color: var(--text-color);
  font-size: 1.2rem;
  font-family: 'quicksand', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: 'montserrat-bold', Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

input {
  display: block;
  width: 100%;
  max-width: 700px;
}

// Efeitos
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
